In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df1 = df.copy()

In [4]:
df1.head()

,Timestamp,ID,Age?,Gender,Preferred Genres,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],...,Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,2/9/2018 21:05:31,101,30-40,Male,"Comedy, Action, Romantic, Animation, Drama",NaN,5.0,5.0,NaN,NaN,...,3.0,NaN,NaN,NaN,2.0,NaN,NaN,5.0,5.0,5.0
1,2/9/2018 21:35:41,102,20-30,Male,"Comedy, Action, Drama",5.0,NaN,5.0,4.0,5.0,...,4.0,4.0,3.0,3.0,3.0,3.0,3.0,5.0,5.0,5.0
2,2/12/2018 12:25:41,103,20-30,Male,"Comedy, Action, Sci-Fi & Fantasy, Romantic, An...",5.0,5.0,5.0,NaN,2.0,...,2.0,5.0,5.0,5.0,2.0,5.0,NaN,NaN,3.0,5.0
3,2/12/2018 12:26:00,104,20-30,Male,"Action, Sci-Fi & Fantasy, Animation",4.0,5.0,4.0,NaN,5.0,...,NaN,4.0,NaN,NaN,NaN,NaN,3.0,4.0,2.0,3.0
4,2/12/2018 12:26:16,105,20-30,Female,"Comedy, Sci-Fi & Fantasy, Romantic",NaN,NaN,4.0,NaN,4.0,...,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,5.0

In [5]:
n_users = df1.ID.unique().shape[0]
n_movies = 16
print n_users

97

In [6]:
del df1['Timestamp']
del df1['Age?']
del df1['Gender']
del df1['Preferred Genres']
del df1['ID']

In [7]:
df1.fillna(0, inplace = True)
df1.head()

,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,0.0,5.0,5.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,5.0,5.0,5.0
1,5.0,0.0,5.0,4.0,5.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,5.0,5.0,5.0
2,5.0,5.0,5.0,0.0,2.0,3.0,2.0,5.0,5.0,5.0,2.0,5.0,0.0,0.0,3.0,5.0
3,4.0,5.0,4.0,0.0,5.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0,4.0,2.0,3.0
4,0.0,0.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0

In [8]:
df1.head()

,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,0.0,5.0,5.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,2.0,0.0,0.0,5.0,5.0,5.0
1,5.0,0.0,5.0,4.0,5.0,4.0,4.0,4.0,3.0,3.0,3.0,3.0,3.0,5.0,5.0,5.0
2,5.0,5.0,5.0,0.0,2.0,3.0,2.0,5.0,5.0,5.0,2.0,5.0,0.0,0.0,3.0,5.0
3,4.0,5.0,4.0,0.0,5.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0,4.0,2.0,3.0
4,0.0,0.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,5.0

In [9]:
ratings = df1.as_matrix()
print ratings

[[ 0.  5.  5. ...,  5.  5.  5.]
 [ 5.  0.  5. ...,  5.  5.  5.]
 [ 5.  5.  5. ...,  0.  3.  5.]
 ...,
 [ 5.  3.  5. ...,  3.  5.  5.]
 [ 0.  5.  0. ...,  3.  2.  3.]
 [ 0.  5.  5. ...,  3.  5.  2.]]

In [10]:
def similarity_calculation(ratings):
    sim = ratings.T.dot(ratings) 
    norms = np.array([np.sqrt(np.diagonal(sim))])
    return (sim / norms / norms.T)

In [11]:
item_similarity = similarity_calculation(ratings)

In [12]:
test = pd.read_csv('test.csv')

In [13]:
test.head()

,ID,Age?,Gender,Preferred Genres,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,1,30-40,Female,"Comedy, Independent, Romantic",NaN,5.0,3.0,NaN,NaN,NaN,2.0,NaN,4.0,4.0,4.0,4.0,4.0,3.0,NaN,5.0
1,2,20-30,Female,"Comedy, Sci-Fi & Fantasy, Romantic",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,1.0,1.0
2,3,20-30,Male,"Comedy, Action, Sci-Fi & Fantasy",4.0,5.0,5.0,4.0,NaN,3.0,2.0,4.0,5.0,5.0,3.0,5.0,4.0,4.0,1.0,3.0
3,4,20-30,Male,Action,3.0,3.0,5.0,3.0,NaN,NaN,5.0,5.0,NaN,NaN,3.0,NaN,NaN,4.0,1.0,NaN
4,5,20-30,Male,"Comedy, Action, Sci-Fi & Fantasy",NaN,5.0,3.0,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,5.0,NaN,NaN,1.0,1.0

In [14]:
test1 = test.copy()

In [15]:
del test1['Age?']
del test1['Gender']
del test1['Preferred Genres']
del test1['ID']

In [16]:
test1.fillna(0, inplace = True)
test1.head()

,Rating [Rogue One/Star Wars],Rating [Fight Club],Rating [The Lord of the Rings],Rating [Trolls],Rating [Despicable Me],Rating [Kubo],Rating [The hangover],Rating [Captain America],Rating [The big Lebowski],Rating [Almost famous],Rating [The hunger games],Rating [Pulp Fiction],Rating [Sing ],Rating [500 days of Summer],Rating [Twilight],Rating [Lala Land]
0,0.0,5.0,3.0,0.0,0.0,0.0,2.0,0.0,4.0,4.0,4.0,4.0,4.0,3.0,0.0,5.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0,1.0
2,4.0,5.0,5.0,4.0,0.0,3.0,2.0,4.0,5.0,5.0,3.0,5.0,4.0,4.0,1.0,3.0
3,3.0,3.0,5.0,3.0,0.0,0.0,5.0,5.0,0.0,0.0,3.0,0.0,0.0,4.0,1.0,0.0
4,0.0,5.0,3.0,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,5.0,0.0,0.0,1.0,1.0

In [17]:

ratings_test = test1.as_matrix()



print ratings_test

[[ 0.  5.  3.  0.  0.  0.  2.  0.  4.  4.  4.  4.  4.  3.  0.  5.]
 [ 0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  0.  3.  1.  1.]
 [ 4.  5.  5.  4.  0.  3.  2.  4.  5.  5.  3.  5.  4.  4.  1.  3.]
 [ 3.  3.  5.  3.  0.  0.  5.  5.  0.  0.  3.  0.  0.  4.  1.  0.]
 [ 0.  5.  3.  0.  0.  0.  5.  3.  0.  0.  0.  5.  0.  0.  1.  1.]
 [ 4.  3.  5.  4.  0.  4.  3.  4.  0.  0.  4.  3.  3.  4.  1.  0.]
 [ 5.  0.  4.  0.  0.  4.  2.  0.  0.  0.  0.  0.  3.  0.  5.  1.]
 [ 5.  0.  4.  3.  0.  5.  0.  2.  0.  0.  1.  0.  3.  0.  5.  5.]
 [ 0.  5.  5.  0.  0.  3.  4.  4.  0.  0.  3.  5.  3.  5.  2.  4.]
 [ 3.  0.  4.  4.  0.  0.  0.  4.  0.  0.  3.  0.  0.  0.  4.  0.]
 [ 0.  5.  4.  0.  0.  0.  5.  4.  0.  0.  1.  5.  0.  3.  1.  0.]
 [ 0.  5.  4.  0.  0.  0.  2.  3.  0.  3.  4.  5.  0.  2.  1.  1.]
 [ 5.  4.  5.  4.  0.  0.  3.  0.  5.  0.  0.  4.  0.  0.  0.  0.]
 [ 0.  0.  4.  0.  0.  0.  3.  4.  0.  0.  0.  4.  0.  4.  4.  0.]
 [ 0.  0.  0.  0.  0.  0.  5.  5.  0.  0.  0.  0.  0.  0.  5.  0.]
 [ 0.  0.  0.  0.  0.  0.  4.  4.  0.  0.  0.  5.  0.  0.  3.  0.]
 [ 4.  0.  5.  0.  0.  3.  3.  5.  0.  0.  5.  0.  0.  5.  0.  3.]
 [ 5.  0.  3.  0.  0.  0.  5.  3.  0.  0.  0.  5.  0.  4.  1.  4.]
 [ 0.  0.  3.  0.  0.  0.  5.  5.  0.  0.  0.  0.  0.  0.  5.  0.]
 [ 0.  5.  5.  3.  0.  4.  4.  5.  4.  4.  5.  5.  5.  4.  1.  1.]
 [ 0.  3.  5.  4.  0.  0.  5.  0.  0.  5.  5.  0.  3.  0.  4.  4.]
 [ 4.  5.  5.  5.  0.  0.  5.  5.  0.  4.  4.  0.  0.  4.  4.  4.]
 [ 4.  4.  0.  0.  0.  0.  5.  4.  0.  0.  0.  0.  3.  0.  2.  0.]
 [ 0.  5.  0.  0.  0.  0.  3.  5.  0.  4.  0.  0.  5.  0.  0.  0.]
 [ 4.  5.  0.  0.  0.  0.  3.  4.  5.  0.  3.  5.  0.  4.  2.  4.]
 [ 5.  0.  5.  0.  0.  0.  5.  5.  0.  0.  4.  0.  0.  3.  3.  4.]
 [ 5.  0.  5.  2.  0.  4.  0.  4.  0.  0.  4.  0.  0.  0.  0.  3.]
 [ 4.  4.  5.  0.  0.  0.  0.  5.  0.  0.  0.  0.  0.  0.  5.  5.]
 [ 1.  0.  5.  1.  0.  1.  4.  1.  0.  3.  4.  1.  5.  5.  1.  5.]
 [ 4.  4.  5.  0.  0.  0.  3.  0.  0.  0.  5.  4.  5.  0.  4.  5.]
 [ 3.  4.  2.  3.  0.  4.  3.  4.  0.  0.  1.  0.  0.  4.  0.  1.]
 [ 5.  0.  5.  4.  0.  5.  0.  4.  0.  0.  0.  0.  0.  0.  5.  5.]
 [ 3.  0.  4.  2.  0.  0.  5.  5.  3.  0.  2.  0.  0.  4.  5.  0.]
 [ 3.  3.  4.  3.  0.  0.  4.  5.  0.  5.  5.  0.  5.  5.  5.  5.]
 [ 3.  5.  5.  2.  0.  5.  5.  5.  5.  4.  3.  5.  3.  5.  3.  5.]
 [ 3.  4.  5.  5.  0.  3.  4.  4.  0.  0.  3.  0.  4.  0.  2.  4.]
 [ 0.  0.  0.  0.  0.  0.  0.  4.  0.  5.  4.  0.  0.  4.  5.  0.]
 [ 0.  5.  5.  0.  0.  0.  4.  4.  0.  0.  3.  0.  0.  0.  3.  0.]
 [ 4.  0.  3.  0.  0.  4.  4.  5.  0.  0.  0.  0.  0.  0.  4.  4.]
 [ 0.  5.  0.  0.  0.  0.  4.  5.  4.  4.  4.  5.  4.  5.  4.  5.]
 [ 5.  5.  5.  0.  0.  0.  5.  5.  0.  0.  3.  4.  0.  0.  3.  0.]
 [ 3.  5.  5.  3.  0.  3.  5.  5.  5.  0.  5.  4.  3.  2.  4.  5.]
 [ 4.  0.  5.  0.  0.  0.  5.  5.  5.  0.  4.  0.  0.  5.  5.  0.]
 [ 0.  0.  0.  0.  0.  0.  5.  0.  0.  0.  0.  0.  0.  0.  5.  0.]
 [ 4.  5.  2.  0.  0.  0.  5.  3.  4.  0.  5.  5.  0.  5.  5.  5.]
 [ 0.  0.  0.  0.  0.  0.  4.  5.  0.  0.  0.  0.  0.  0.  0.  0.]
 [ 5.  4.  5.  4.  0.  3.  5.  5.  3.  3.  5.  5.  4.  4.  4.  3.]
 [ 0.  5.  4.  0.  0.  0.  4.  4.  0.  0.  0.  5.  0.  0.  0.  0.]
 [ 4.  2.  3.  3.  0.  4.  2.  4.  2.  2.  2.  2.  2.  2.  2.  3.]
 [ 0.  5.  4.  0.  0.  0.  3.  0.  4.  4.  4.  5.  0.  0.  3.  0.]
 [ 4.  4.  5.  5.  0.  0.  3.  5.  0.  4.  5.  5.  5.  0.  5.  5.]
 [ 5.  3.  3.  0.  0.  0.  5.  4.  0.  4.  4.  5.  0.  4.  2.  1.]
 [ 5.  0.  5.  3.  0.  5.  3.  5.  0.  0.  4.  0.  4.  3.  2.  0.]]

In [19]:
def predict_topk(ratings, similarity, k=3):
    pred = np.zeros(ratings.shape)
    for j in xrange(ratings.shape[1]):
        top_k_items = [np.argsort(similarity[:,j])[:-k-1:-1]]
        for i in xrange(ratings.shape[0]):
            pred[i, j] = similarity[j, :][top_k_items].dot(ratings[i, :][top_k_items].T) 
            pred[i, j] /= np.sum(np.abs(similarity[j, :][top_k_items]))        
    
    return pred

In [20]:
pre = predict_topk(ratings_test, item_similarity, k = 3)

In [21]:

print pre

[[ 0.90859898  3.48490145  1.11882689  1.15828598  0.92794911  2.25823941
   1.6721335   0.62860474  4.          2.86103     1.58479634  4.00900746
   1.7666141   1.28505683  0.          1.95561035]
 [ 0.          0.          0.          0.27911414  0.          0.          0.
   0.          0.          0.          0.          0.          0.
   1.57449762  0.38184362  0.69258889]
 [ 4.30286633  4.10799637  3.12324018  3.45222909  2.8323928   3.83541089
   3.5661391   2.09486649  5.          4.7152575   2.38687386  5.
   3.7021002   3.13167764  1.60894858  1.47483303]
 [ 4.19243915  4.217764    3.43787235  1.57305725  3.15384554  0.          5.
   3.40433904  0.          0.8542275   2.68644301  2.3860585   0.78134002
   2.8494707   1.91572482  0.30146682]
 [ 1.78865873  4.37690508  2.06272341  0.27911414  1.89230732  1.35425519
   3.74342905  2.67120817  1.26076402  0.          0.89870746  4.41024097
   0.          0.28944079  1.30217234  0.69258889]
 [ 4.30286633  3.62309492  3.12324018  2.00437162  2.8323928   3.43544015
   3.93785362  2.40916886  0.75645841  1.13897     2.78307295  3.58975903
   3.55834647  3.13167764  1.60894858  0.30146682]
 [ 3.23036742  1.84085892  1.49176919  1.39557068  1.23726548  2.62288703
   1.98170165  0.62860474  0.          0.          0.          1.17951806
   2.51655979  2.85823862  1.90921808  1.89845616]
 [ 3.81707392  1.24618984  2.12103353  2.68951379  1.88017095  3.05832718
   1.87570725  0.73313088  0.          0.8542275   0.99533739  1.17951806
   3.5957996   2.85823862  2.52277056  3.46294445]
 [ 2.68774464  4.70266546  3.12324018  0.55822827  2.8323928   3.54170208
   4.30956815  2.72347123  1.26076402  0.          2.38687386  5.
   2.21865998  2.72064296  1.9907922   2.16742192]
 [ 3.59621958  1.24618984  2.75029788  2.84171402  2.52307643  0.
   2.5131419   1.46626175  0.          1.13897     2.38687386  1.17951806
   1.04178669  2.00438396  2.75447943  1.20586728]
 [ 2.38487831  4.68845254  2.75029788  0.27911414  2.52307643  1.35425519
   4.37171452  3.0377736   1.26076402  0.          1.59447569  4.70512048
   0.          1.57449762  1.60894858  0.30146682]
 [ 2.09152506  3.79644891  2.43566571  1.14782862  2.20162369  1.35425519
   2.93785362  1.72830105  2.17396724  1.27236486  2.4835038   4.70512048
   0.          1.14614534  1.30217234  0.69258889]
 [ 3.53323375  4.01421292  1.86471149  1.72525748  1.54658184  1.08340415
   2.66298432  0.94290711  3.22584183  2.5946494   0.          4.29487952
   1.04178669  1.41103468  0.          0.        ]
 [ 2.38487831  2.13819346  2.75029788  1.11645654  2.52307643  1.08340415
   3.62828548  2.40916886  1.00861121  0.          1.19827661  2.78445211
   0.          2.87117226  2.75447943  1.20586728]
 [ 1.46676625  1.48667271  1.57316086  1.39557068  1.60726369  0.
   3.45215925  3.40433904  0.          0.          1.49784576  0.          0.
   1.44720394  3.44309929  1.50733409]
 [ 1.173413    1.18933817  1.25852869  0.83734241  1.28581096  1.35425519
   2.7617274   2.72347123  1.26076402  0.          1.19827661  2.00616755
   0.          0.86832236  2.37263581  0.90440046]
 [ 4.59621958  2.44974092  3.43787235  0.          3.15384554  1.30632044
   4.25657095  2.7757343   0.          0.          3.47884118  1.47439758
   0.89369941  3.27058913  1.53388121  1.17336621]
 [ 3.80756085  2.42131509  2.06272341  0.27911414  1.89230732  1.35425519
   3.74342905  2.67120817  1.26076402  0.          0.89870746  2.8908061
   0.          3.41388457  1.30217234  1.8659551 ]
 [ 2.37536523  2.42131509  2.69198775  1.39557068  2.5352128   0.
   4.3808637   3.40433904  0.          0.          1.49784576  0.88463855
   0.          1.44720394  3.44309929  1.50733409]
 [ 2.98109789  4.70266546  3.43787235  2.73134322  3.15384554  4.56455985
   4.62828548  3.09003667  4.2521528   3.7152575   3.47884118  5.
   4.18120685  2.00284989  1.91572482  0.69258889]
 [ 1.51433163  4.217764    1.86471149  4.28957149  1.54658184  0.88112644
   3.40641337  1.57151185  1.52200537  3.2595781   1.98099543  2.3860585
   2.36674727  1.15776315  1.52737446  2.77035556]
 [ 4.59621958  5.          3.43787235  4.43131437  3.15384554  0.          5.
   3.40433904  1.2176043   3.12019898  3.0826421   2.99383245  1.30223336
   4.          3.06125567  2.77035556]
 [ 2.78853469  3.0511447   1.25852869  0.55822827  1.28581096  0.88112644
   3.13344193  3.0377736   0.          0.          1.19827661  1.21554789
   1.32496058  1.70770932  1.9907922   0.60293364]
 [ 1.46676625  2.84759362  1.57316086  1.15828598  1.60726369  1.46854407
   2.70873021  2.7757343   1.2176043   1.69648648  1.49784576  1.51943487
   2.20826763  0.          1.53388121  0.        ]
 [ 2.78853469  2.84759362  1.25852869  0.55822827  1.28581096  1.35425519
   2.39001288  2.40916886  3.47799463  1.4556794   2.38687386  3.52560242
   0.          3.42111843  1.9907922   2.16742192]
 [ 5.          3.04441001  3.43787235  0.83734241  3.15384554  0.          5.
   3.40433904  0.          0.          3.0826421   1.47439758  0.
   3.56441387  2.67941205  2.46888874]
 [ 4.70664675  1.5577373   3.12324018  0.86262874  2.8323928   1.74176059
   2.82271005  1.46626175  0.          0.569485    2.78307295  1.47439758
   1.71249255  1.41103468  1.22710497  1.17336621]
 [ 4.59621958  3.12220929  3.43787235  1.39557068  3.15384554  0.
   3.14142738  1.83282719  0.          0.          1.49784576  2.68994547
   0.          2.57603168  3.44309929  3.46294445]
 [ 2.21146531  2.74707547  2.17934366  1.57914299  1.86803458  2.17483526
   3.35341617  1.62377492  1.16535603  1.55710736  1.88436549  1.87563109
   2.7666141   2.71340911  0.68861986  2.25707717]
 [ 3.12945333  4.01421292  1.86471149  1.11645654  1.54658184  2.55194823
   2.66298432  0.94290711  1.00861121  0.          1.98099543  4.29487952
   2.20826763  2.28659089  1.52737446  3.16147763]
 [ 2.99048692  3.07957054  2.00441328  1.29394311  1.90444369  1.74176059
   3.00914918  2.40916886  0.          0.8542275   1.59447569  1.80530692
   1.97293922  2.56002991  1.22710497  0.39112207]
 [ 4.70664675  1.5577373   3.12324018  3.12082816  2.8323928   2.17720073
   2.82271005  1.46626175  0.          1.13897     1.19827661  1.47439758
   2.5312857   2.85823862  3.13632304  3.46294445]
 [ 3.88957283  2.73286255  3.06493005  2.25819942  2.84452917  0.
   4.69043185  3.40433904  1.33033837  1.44289264  2.29024393  1.17951806
   0.52089334  4.00723385  3.44309929  1.50733409]
 [ 3.88957283  3.608882    3.06493005  4.13737126  2.84452917  1.46854407
   4.31871733  3.09003667  1.52200537  2.9748356   3.47884118  2.09117898
   2.98960765  4.43558613  3.44309929  3.46294445]
 [ 4.19243915  5.          3.43787235  2.85825712  3.15384554  4.41258237
   5.          3.40433904  4.69559893  3.72165088  2.68644301  5.
   3.33535293  3.85670455  2.67941205  2.86001081]
 [ 3.8990859   4.31154746  3.12324018  2.71480012  2.8323928   2.4811557
   4.30956815  2.72347123  0.          1.4237125   2.38687386  2.68994547
   3.96254687  1.42550238  1.9907922   2.16742192]
 [ 1.173413    0.          1.25852869  2.84342815  1.28581096  0.
   1.27486931  1.46626175  1.52200537  2.12060811  2.78307295  0.          0.
   3.16061304  3.13632304  1.50733409]
 [ 2.68774464  4.70266546  3.12324018  0.83734241  2.8323928   0.
   4.30956815  2.72347123  0.          0.          2.38687386  2.99383245
   0.          0.86832236  2.37263581  0.90440046]
 [ 3.99048692  2.12398055  2.69198775  1.11645654  2.5352128   1.74176059
   4.00914918  3.09003667  0.          0.          1.49784576  0.88463855
   1.19159921  2.28659089  3.06125567  2.77035556]
 [ 1.46676625  3.14492816  1.57316086  2.27474252  1.60726369  2.52909045
   3.08044473  3.09003667  4.2521528   2.86103     3.0826421   3.52560242
   1.7666141   3.29952453  3.06125567  3.16147763]
 [ 5.          5.          3.43787235  0.83734241  3.15384554  1.08340415
   5.          3.40433904  1.00861121  0.          2.68644301  4.59876649
   0.          2.27935704  2.67941205  0.90440046]
 [ 4.19243915  5.          3.43787235  2.41039965  3.15384554  3.27085104
   5.          3.40433904  3.22584183  2.3099069   3.47884118  4.59876649
   3.          2.86108851  3.06125567  3.16147763]
 [ 4.59621958  3.04441001  3.43787235  1.39557068  3.15384554  0.          5.
   3.40433904  2.21723061  1.4556794   3.0826421   1.47439758  0.
   4.71779306  3.44309929  1.50733409]
 [ 0.          1.48667271  0.          1.39557068  0.          0.
   1.85857262  1.57151185  0.          0.          0.          0.          0.
   1.44720394  1.90921808  1.50733409]
 [ 3.1009141   4.06535762  1.68978111  1.39557068  1.58299095  1.35425519
   3.4338609   2.67120817  3.03454851  1.16454352  2.87970288  4.11536145
   0.          4.71779306  2.8295468   3.46294445]
 [ 1.46676625  1.18933817  1.57316086  0.          1.60726369  0.
   3.08044473  3.09003667  0.          0.          1.49784576  0.          0.
   0.          1.53388121  0.        ]
 [ 5.          4.608882    3.43787235  3.71042851  3.15384554  3.83541089
   5.          3.40433904  3.50430561  3.2847425   3.47884118  4.69611303
   3.7021002   4.28220694  3.06125567  2.37923349]
 [ 2.38487831  4.391118    2.75029788  0.          2.52307643  1.35425519
   4.          2.72347123  1.26076402  0.          1.19827661  4.70512048
   0.          0.          1.22710497  0.        ]
 [ 3.69713367  2.31154746  2.37735558  2.43131437  2.21376006  2.87088029
   2.9470028   2.09486649  2.          2.2847425   1.99067478  2.29487952
   2.85624628  2.56441387  1.9907922   1.77629985]
 [ 1.21146531  4.09378346  1.49176919  1.99562838  1.23726548  1.35425519
   2.35341617  0.94290711  4.2521528   2.86103     1.58479634  4.70512048
   0.          0.86832236  1.14553085  0.90440046]
 [ 4.59621958  4.01421292  3.43787235  4.71042851  3.15384554  2.82279927
   4.25657095  2.7757343   2.47836831  3.12019898  3.47884118  4.69611303
   3.51050099  2.57603168  3.44309929  3.46294445]
 [ 4.1009141   3.59466908  2.37735558  1.71651425  2.21376006  1.35425519
   4.06214638  3.0377736   2.47836831  1.69648648  2.78307295  3.80246702
   0.          3.70332536  1.9907922   0.99405571]
 [ 5.          2.44974092  3.43787235  1.85217138  3.15384554  3.35203599
   4.25657095  2.7757343   0.          0.8542275   3.0826421   1.47439758
   4.03745313  3.27497308  2.29756844  0.60293364]]

In [22]:
df_revised = pd.DataFrame(data = pre, columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p'])

In [23]:
df_revised.head()

,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p
0,0.908599,3.484901,1.118827,1.158286,0.927949,2.258239,1.672133,0.628605,4.000000,2.861030,1.584796,4.009007,1.766614,1.285057,0.000000,1.955610
1,0.000000,0.000000,0.000000,0.279114,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.574498,0.381844,0.692589
2,4.302866,4.107996,3.123240,3.452229,2.832393,3.835411,3.566139,2.094866,5.000000,4.715258,2.386874,5.000000,3.702100,3.131678,1.608949,1.474833
3,4.192439,4.217764,3.437872,1.573057,3.153846,0.000000,5.000000,3.404339,0.000000,0.854227,2.686443,2.386058,0.781340,2.849471,1.915725,0.301467
4,1.788659,4.376905,2.062723,0.279114,1.892307,1.354255,3.743429,2.671208,1.260764,0.000000,0.898707,4.410241,0.000000,0.289441,1.302172,0.692589

In [24]:
result = pd.DataFrame({'ID': test['ID'], 'Rating [Despicable Me]':df_revised['e']})
result = result[['ID', 'Rating [Despicable Me]']]
result.set_index('ID', inplace=True)

In [25]:
result.head()

    Rating [Despicable Me]
ID
1                 0.927949
2                 0.000000
3                 2.832393
4                 3.153846
5                 1.892307

In [26]:
result.to_csv('rating.csv')