In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
train = np.loadtxt("train.dat")

In [3]:
train_df = pd.DataFrame(train)

In [4]:
train_df.head()

,0,1,2,3,4,5,6,7,8,9,...,877,878,879,880,881,882,883,884,885,886
0,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.002525,0.001105,0.018071,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
1,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.001026,0.000000,0.018462,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
2,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.011023,0.006921,0.053320,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
3,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.000000,0.000919,0.030331,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
4,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.003866,0.001074,0.025558,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078

In [5]:
y = np.loadtxt("train.labels")

In [6]:
test = np.loadtxt("test.dat")

In [7]:
test_df = pd.DataFrame(test)

In [8]:
test_df.head()

,0,1,2,3,4,5,6,7,8,9,...,877,878,879,880,881,882,883,884,885,886
0,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.002389,0.000000,0.014337,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
1,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.013605,0.005102,0.040816,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
2,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.009097,0.004392,0.029676,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
3,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.037037,0.017315,0.034907,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078
4,10.177829,10.177829,10.177829,5.765479,10.177829,10.177829,4.982583,7.986466,0.480342,2.385175,...,0.005093,0.004167,0.021296,0.043203,0.202189,0.304724,0.630184,0.548963,0.638825,0.599078

In [9]:
#split the training set into training and testing for cross validation
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    train, y, test_size=0.35)

C:\Users\arpit\Anaconda2\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
from sklearn import decomposition
pca = decomposition.PCA(n_components = 30, whiten = True)
pca.fit(train)

PCA(copy=True, iterated_power='auto', n_components=30, random_state=None,
  svd_solver='auto', tol=0.0, whiten=True)

In [11]:
print(pca.explained_variance_)

[  5.80316720e-02   3.24478973e-02   1.76070954e-02   1.44629138e-02
   7.13104975e-03   5.53938635e-03   3.51868271e-03   1.90087644e-03
   1.48871682e-03   1.40143710e-03   7.21680641e-04   5.74382299e-04
   4.62547479e-04   4.25054398e-04   2.90621652e-04   2.60850287e-04
   2.08284200e-04   1.48399236e-04   1.35426121e-04   1.00596317e-04
   9.32944164e-05   8.15273170e-05   7.07155721e-05   5.64429017e-05
   5.35524691e-05   4.24093044e-05   3.52246184e-05   3.12670362e-05
   1.61019231e-05   1.07948214e-05]

In [12]:
X_train_pca = pca.transform(train)
X_test_pca = pca.transform(test)
cv_train_pca = pca.transform(X_train)
cv_test_pca = pca.transform(X_test)

In [13]:
print X_train_pca

[[-0.55727167 -0.30709517  0.08060831 ...,  0.0684824  -0.02185069
   1.64804192]
 [-0.7877529   1.64680069  1.05832377 ...,  1.33910179 -0.59072316
   1.18956061]
 [ 2.55142987 -1.02998372 -1.55381336 ...,  1.92563025  2.43269379
  -0.21823101]
 ...,
 [ 0.79831859 -1.91515615 -1.00968706 ..., -1.66533904 -0.5421631
   1.49046765]
 [ 2.3843241  -0.73763075 -1.78269797 ..., -0.06739062  2.72800424
   0.19608236]
 [ 0.36605669 -1.88207718 -0.7473114  ..., -0.3609325   0.07020947
  -0.81739632]]

In [19]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors = 10, weights = 'distance', p = 1)
clf.fit(X_train_pca, y)
clf_cv = KNeighborsClassifier(n_neighbors = 10, weights = 'distance', p = 1)
clf_cv.fit(cv_train_pca, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=10, p=1,
           weights='distance')

In [20]:
pred = clf.predict(X_test_pca)
print pred

[ 1.  2.  2. ...,  2.  1.  2.]

In [21]:
pred_cv = clf_cv.predict(cv_test_pca)
print pred_cv

[ 2.  1.  1. ...,  2.  2.  2.]

In [22]:
from sklearn.metrics import f1_score

print("Accuracy: {0:0.1f}%".format(f1_score(y_test,pred_cv, average = 'weighted')*100))

Accuracy: 69.1%

In [23]:
np.savetxt('result.dat', pred, fmt = "%d")